@import './base.css';
@import "tailwindcss";

@font-face {
  font-family: 'Bangers';
  src: url('/fonts/Bangers-Regular.woff2') format('woff2'),
       url('/fonts/Bangers-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Russo One';
  src: url('/fonts/RussoOne-Regular.woff2') format('woff2'),
       url('/fonts/RussoOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: pink;
}

img {
  margin-bottom: 0.5rem;
}