@import './base.css';
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: pink;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

img {
  margin-bottom: 0.5rem;
}